<div class="card x_panel">
    <div id="divDataBody" class="container entity">
        <div class="row formTitle">
            <div class="col-md-6">
                <h2 class="title">Change Password</h2>
            </div>
            <div class="col-md-6 text-right">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <form name="addpost" class="form-horizontal  container-fluid">
            <div class="col-md-8 col-md-offset-2 col-xs-12 ">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group col-md-12 col-xs-12">
                        <mat-form-field style="width: 100%">
                            <input matInput type="password" placeholder="Old Password" name="OldPassword" [(ngModel)]="change.OldPassword">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 ">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group col-md-12 col-xs-12">
                        <mat-form-field style="width: 100%">
                            <input matInput type="password" placeholder="New Password" name="NewPassword" [(ngModel)]="change.NewPassword">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 ">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group col-md-12 col-xs-12">
                        <mat-form-field style="width: 100%">
                            <input matInput type="password" placeholder="Confirm new password" name="Confirm" [(ngModel)]="change.ConfirmNewPassword">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2 col-xs-12 ">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group col-md-12 col-xs-12">
                        <button type="submit" class="btn btn-success alignCenterBtn " (click)="saveChange()">Change password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>