<div class="card x_panel">
    <div class="row">
        <div class="col-md-6">
            <h2>Month activity</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        <th *ngFor="let cell of tableData[0]">{{cell.Data}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData | slice:1">
                        <td *ngFor="let cell of row" [style.background-color]="cell.Color">
                            {{cell.Data}} 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   </div> 