<modal-wrapper [dialogRef]="dialogRef">
    <div class="card x_panel">
        <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
            <div class="row">
                <div class="col-md-4">
                    
                </div>
                
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </div>
    <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="row">
            <div class="col-md-12">
                <table class="table my-table-striped table-bordered projects">
                    <thead style="color: #73879C;">
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr *ngFor="let value of auditTrailEntity.Values; let i = index">
                                <td><span>{{value.Name}}</span></td>
                                <td><span>{{value.ValueOfField}}</span></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</modal-wrapper>