@model object

<div class="container">
    <input id="loginRefference" type="hidden" value="@Url.Action("Login","Account")" />
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"></div>
            </div>
            <div style="padding-top:30px" class="panel-body">

                @Html.Raw(@Model)

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div id="redirectMessage" style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            Redirect to Login page after
                            <span id="countdown">
                                5
                            </span>
                            second...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section countdown{
    <script src="~/scripts/authentication/coundownBeforeRedirect.js"></script>
}


