@model Application.EntitiesModels.Models.AccountModels.UpdatePasswordModel

@{
    ViewBag.Title = "Log in";
}

<div class="container">
    @* Login form *@
    <div id="updatepasswordbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Update Password</div>
            </div>
            <div style="padding-top:30px" class="panel-body">

                @await Component.InvokeAsync("UpdatePassword", Model)
                <div class="form-group">
                    <div class="col-md-6 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            Go to login
                            <a href="/Account/Login">
                                Sign In
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


