<modal-wrapper [dialogRef]="dialogRef">
    <ngx-spinner [visible]="loading" [config]="spinnerConfig"></ngx-spinner>
    <div class="card x_panel" *ngIf="!loading">
        <div id="divDataBody" class="container entity">
            <div class="row">
                <div class="col-md-12 form-title">
                    <h2 style="color: #73879C;">Edit month cell </h2>
                </div>
                <div class="col-md-12 col-lg-12">
                    <form name="addfeedback" class="form-horizontal  container-fluid">
                        
                        
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                            <input type="text" class="form-control " id="inputSuccess2" placeholder="{{monthActivity.data}}" [(ngModel)]="monthActivity.data" name="EditCell" autocomplete="off">
                            
                            <span class="tooltiptext">
                                Month cell
                            </span>
                        </div>



                        <div class="col-md-12 col-xs-12">
                            <div class="form-group col-md-6 col-xs-6 text-center">
                                <button class="btn btn-primary alignCenterBtn black-tooltip" (click)="updateMonthCell(monthActivity)">
                                    Create
                                </button>
                            </div>
                            <div class="form-group col-md-6 col-xs-6 text-center">
                                <button class="btn btn-primary alignCenterBtn black-tooltip" (click)="cancel()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</modal-wrapper>