.btn-database-administrate {
    margin-left: 10px !important;
}

.input-database-administrate {
    margin-left: 10px !important;
}

.row-database-administrate {
    margin-top: 20px !important;
}

.sign-database-administrate {
    right: 20px !important;
    position: absolute !important;
}