<modal-wrapper [dialogRef]="dialogRef">

    
        <div class="card x_panel">
            <div id="divDataBody" class="container entity">
            <div class="row">
                    <div class="col-md-12 form-title">
                            <h2 style="color: #73879C;">Create Contact person</h2>
                        </div>
                <div class="col-md-12 col-lg-12">
                    <form name="addpost" class="form-horizontal  container-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="FirstName" [(ngModel)]="contactPerson.FirstName" name="FirstName" autocomplete="off">
                            <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span>
                            <span class="tooltiptext">
                                FirstName
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="LastName" [(ngModel)]="contactPerson.LastName" name="LastName" autocomplete="off">
                            <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span>
                            <span class="tooltiptext">
                                LastName
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="CommunicationChannel" [(ngModel)]="contactPerson.CommunicationChannel" name="CommunicationChannel" autocomplete="off">
                            <span class="fa fa-comment form-control-feedback left" aria-hidden="true"></span>
                            <span class="tooltiptext">
                                Com.Channel
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Email" [(ngModel)]="contactPerson.Email" name="Email" autocomplete="off">
                            <span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true"></span>
                            <span class="tooltiptext">
                                Email
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback  black-tooltip">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Phone" [(ngModel)]="contactPerson.Phone" name="Phone" autocomplete="off">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            <span class="tooltiptext">
                                Phone
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback  black-tooltip">
                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Comment" [(ngModel)]="contactPerson.Comment" name="Comment" autocomplete="off">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            <span class="tooltiptext">
                                Comment
                            </span>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group col-md-6 col-xs-6 text-center">
                                <button class="btn btn-primary alignCenterBtn black-tooltip" (click)="createContactPerson()">
                                    Create
                                </button>
                            </div>
                            <div class="form-group col-md-6 col-xs-6 text-center">
                                <button class="btn btn-primary alignCenterBtn black-tooltip" (click)="cancel()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </modal-wrapper>