  <!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
                <!-- <div class="nav toggle">
                        <a id="menu_toggle" (click)="toggleClicked($event)"><i class="fa fa-bars"></i></a>
                      </div>    -->
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img [src]="user.Avatar" alt="">{{user.FirstName}} {{user.LastName}}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a [routerLink]="'/users/'+id+'/info'" class="side-menu-link">
                                My page
                            </a>
                        </li>
                        <li>
                            <a (click)="settings()" class="side-menu-link">
                                Settings
                            </a>
                        </li>
                        <li>
                            <a (click)="signOut()" class="side-menu-link">
                                <i class="fa fa-sign-out pull-right"></i>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
