<modal-wrapper [dialogRef]="dialogRef">

    
    <div class="card x_panel">
        <div id="divDataBody" class="container entity">
        <div class="row">
                <div class="col-md-12 form-title">
                        <h2 style="color: #73879C;">Create client</h2>
                    </div>
            <div class="col-md-12 col-lg-12">
                <form name="addpost" class="form-horizontal  container-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Organization" [(ngModel)]="client.OrganizationName" name="Organization" autocomplete="off">
                        <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                        <div class="error-message">
                            <span *ngIf="!isOrganizationExist">Organization is required</span>
                        </div>
                        <span class="tooltiptext">
                            Organization
                        </span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Description" [(ngModel)]="client.Description" name="Description" autocomplete="off">
                        <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
                        <span class="tooltiptext">
                            Description
                        </span>
                    </div>
                    <div *ngIf="data.fromClientPage == true">
                            <div class="form-group col-md-11 col-xs-11  black-tooltip">
                                    <select class="select2_single form-control" [(ngModel)]="client.ProjectId" name="selectProject" tabindex="-1">
                                        <option *ngFor="let selectProject of projects; let i = index" [value]="selectProject.Id">
                                            {{ selectProject.Name }}
                                        </option>
                                    </select>
                                    <span class="tooltiptext">
                                        Project
                                    </span>
                                </div>
                                <div class="col-md-1 col-xs-1" style="right: 8px;">
                                    <button class="btn btn-primary  black-tooltip" (click)="createNewProject()">
                                        <i class="fa fa-plus"></i>
                                        <span class="tooltiptext">Add new</span>
                                    </button>
                                </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback black-tooltip">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Comment" [(ngModel)]="client.Comment" name="Comment" autocomplete="off">
                        <span class="fa fa-list-ul form-control-feedback left" aria-hidden="true"></span>
                        <span class="tooltiptext">
                            Comment
                        </span>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group col-md-6 col-xs-6 text-center">
                            <button class="btn btn-primary alignCenterBtn black-tooltip" (click)="createClient()">
                                Create
                            </button>
                        </div>
                        <div class="form-group col-md-6 col-xs-6 text-center">
                            <button class="btn btn-primary alignCenterBtn black-tooltip" (click)="cancel()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</modal-wrapper>